<ng-container *ngIf="showInReadMode; then reviewReadTemplate else reviewFormTemplate"></ng-container>

<ng-template #reviewFormTemplate>
  <form class="space-y-4" appFormValidation>
    <div class="arn-input" *ngFor="let field of reviewFormFields">
      <label [for]="field.id">{{ field.reviewedCategory }}</label>

      <textarea
        *ngIf="field.isTextField"
        [id]="field.id"
        [(ngModel)]="reviewFormValues[field.id]"
        [name]="field.id"
        rows="3"
        placeholder="Napíšte hodnotenie..."
        required></textarea>
      <app-arn-select
        *ngIf="field.isSelectionField"
        [id]="field.id"
        [name]="field.id"
        [placeholder]="'Vyberte možnosť'"
        [(selectedOption)]="reviewFormValues[field.id]"
        [options]="reviewRatingOptions"
        required/>
    </div>
    <div class="flex w-full mt-4 gap-3">
      <app-arn-button type="submit" [buttonText]="'Odoslať posudok'" [classes]="'h-full'"></app-arn-button>
      <app-arn-button type="button"
                      [buttonText]="'Zrušiť'"
                      [classes]="'h-full'"
                      [customColor]="'#da3c3c'"
                      (buttonClick)="showInReadMode = true"></app-arn-button>
    </div>
  </form>
</ng-template>

<ng-template #reviewReadTemplate>
  <div class="space-y-4">
    <div class="arn-input" *ngFor="let field of review">
      <p>
        {{ field.reviewedCategory }}
      </p>
      <p>
        {{ field.isSelectable ? getDisplayValue(field.reviewValue): field.reviewValue }}
      </p>
    </div>
    <div class="flex w-full mt-4" *ngIf="true">
      <app-arn-button [buttonText]="'Upraviť Posudok'" [classes]="'h-full'"
                      (buttonClick)="showInReadMode = false"></app-arn-button>
    </div>
  </div>
</ng-template>
