<div *ngIf="isLoading">Loading data...</div>
<div *ngIf="error">{{ error }}</div>

<div class="grid grid-cols-[60%_40%] gap-1 sm:gap-3 lg:gap-3">
  <div class="card-base p-5 border flex flex-col space-y-7 h-full">
    <div class="flex flex-col space-y-1">
      <h1 class="text-3xl font-bold">Osobné údaje</h1>
      <div class="flex justify-between items-start">
        <h1 class="text-lg font-bold">{{ userDetails.user.name }} {{ userDetails.user.surname }}</h1>
      </div>
      <span class="self-start bg-gray-100 text-xs font-medium px-3 py-2 rounded-full">
      {{ userDetails.user.roles.join(', ') }}
    </span>
      <span class="self-start bg-gray-100 text-xs font-medium px-3 py-2 rounded-full">
      {{ userDetails.user.email }}
    </span>
      <span class="self-start bg-gray-100 text-xs font-medium px-3 py-2 rounded-full">
      {{ userDetails.user.university.name }}
    </span>
      <app-arn-button class="w-full" [buttonText]="'Zmeniť údaje'"
                      [classes]="'bg-gray-800'"></app-arn-button>
    </div>
  </div>
  <div class="card-base p-5 border flex flex-col space-y-7 h-full">
    <div class="flex flex-col space-y-1">
      <h1 class="text-3xl font-bold">Nadchádzajúce udalosti</h1>
      <div *ngFor="let conference of userDetails.conference | slice:0:2" class="conference-item">
        <div class="text-lg font-bold flex justify-between items-start">
          {{ conference.conferenceName }}
        </div>
        <div class="flex justify-between items-start">
          {{ conference.uploadDeadline }}
        </div>
      </div>
    </div>
    <app-arn-button class="w-full" [buttonText]="'Zobraziť všetky práce'"
                    [classes]="'bg-gray-800'"></app-arn-button>
  </div>
</div>

<div class="card-base p-5 border flex flex-col space-y-7 h-full">
  <div class="flex flex-col space-y-1">
    <h1 class="text-3xl font-bold">Odovzdané práce</h1>
    <div *ngFor="let submission of userDetails.submission" class="conference-item">
      <div class="text-lg font-bold flex justify-between items-start">
        {{ submission.title }}
      </div>
      <div class="flex justify-between items-start">
        {{ submission.category }}
      </div>
    </div>
  </div>
</div>
