<div class="space-y-2 h-full flex flex-col">
  <div class="flex justify-between items-center pb-3">
    <h2 class="text-lg font-semibold">Možnosti Vyhľadávania</h2>
    <backspace-outline-icon
      (click)="onClear()"
      stroke="1.5"
      title="Vymazať možnosti vyhľadávania"
      class="cursor-pointer hover:bg-gray-200 rounded-lg pr-2 pl-1 py-1 element-transition" />
  </div>

  <div class="content-wrapper flex-grow"
    (keydown)="handleKeydown($event)">
    <ng-content></ng-content>
  </div>

  <div class="w-full">
    <app-arn-button
      (click)="onSearch()"
      [classes]="'w-full'"
      [buttonText]="'Vyhľadať'" />
  </div>
</div>
