<app-arn-toast [showToast]="showAlert">
  <div class="toast-icon text-green-500 bg-green-100 rounded">
    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
         viewBox="0 0 20 20">
      <path
        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
    </svg>
    <span class="sr-only">Success</span>
  </div>
  <div class="ms-3 text-sm font-normal">{{ alertMessage }}</div>
</app-arn-toast>

<div class="mb-4">
  <app-tabs
    [tabs]="tabOptions"
    [activeTab]="selectedOption"
    (tabChanged)="selectedOption = $event"
  ></app-tabs>
</div>
<div class="w-full card-base p-4">
  @if (selectedOption === EDIT) {
    <div class="space-y-5">
      <div class="flex justify-between">
        <h2 class="text-lg font-semibold">Upraviť Konferenciu</h2>
        <app-arn-button
          [buttonText]="'Stiahnuť dáta'"
          (buttonClick)="downloadData()">
        </app-arn-button>
      </div>

      <div class="grid grid-cols-2 gap-4">
        <div class="arn-input">
          <label for="conferenceName">Názov konferencie</label>
          <input
            type="text"
            id="conferenceName"
            placeholder="Názov konferencie"
            [(ngModel)]='conference.conferenceName'
            class="w-full p-2 border border-gray-300 rounded"
          />
        </div>

        <div class="arn-input">
          <label for="faculty">Fakulta</label>
          <input
            type="text"
            id="faculty"
            placeholder="Fakulta"
            [(ngModel)]='conference.faculty'
            class="w-full p-2 border border-gray-300 rounded">
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4">
        <div class="arn-input">
          <label for="reviewDeadline">Termín posudozvania (od)</label>
          <input
            type="datetime-local"
            id="reviewDeadline"
            [(ngModel)]='conference.reviewDeadline'
            class="w-full p-2 border border-gray-300 rounded"
          />
        </div>

        <div class="arn-input">
          <label for="uploadDeadline">Dátum nahratia</label>
          <input
            type="datetime-local"
            id="uploadDeadline"
            [(ngModel)]='conference.uploadDeadline'
            class="w-full p-2 border border-gray-300 rounded"
          />
        </div>
      </div>

      <div class="space-x-4 flex h-9">
        <div class="flex items-center">
          <input
            id="setPassword"
            name="setPassword"
            aria-describedby="setPassword"
            type="checkbox"
            class="checkbox-custom p-2"
            [(ngModel)]="setPassword"/>
          <label for="setPassword" class="text-sm font-medium text-gray-700 ml-2">
            Chcete tejto konferencií nastaviť heslo?
          </label>
        </div>
        <div *ngIf="setPassword" class="arn-input w-1/4">
          <input
            type="text"
            id="conferencePassword"
            name="conferencePassword"
            class="w-full"
            placeholder="Heslo"
            [(ngModel)]="conference.password"
            required/>
        </div>
      </div>

      <div class="w-[70%]">
        <div class="mb-3">
          <h2 class="text-lg font-semibold">Hodnotiaci formulár</h2>
          <p class="text-gray-600 text-sm">Tu vytvorte hodnotiaci formulár, na základe ktorého budú recenzenti hodnotiť práce.</p>
        </div>
        <div class="flex flex-col max-h-[40vh] overflow-y-auto">
          <div class="space-y-4">
            @for (field of conference.reviewForm; track field) {
              <div class="flex items-end space-x-2">
                <div class="arn-input w-8/12">
                  <label for="{{ 'reviewedCategory-' + field.id }}" class="text-sm font-medium text-gray-700">
                    Hodnotený aspekt
                  </label>
                  <input
                    type="text"
                    [id]="'reviewedCategory-' + field.id"
                    [(ngModel)]="field.reviewedCategory"
                    name="{{ 'reviewedCategory-' + field.id }}"
                    class="w-full border rounded px-2 py-1"
                    placeholder="Kategória hodnotenia"
                    autocomplete="off"
                    required/>
                </div>
                <div class="w-3/12">
                  <app-arn-select
                    [name]="'fieldType' + field.id"
                    [options]="REVIEW_FORM_OPTIONS"
                    [selectedOption]="getSelectedOption(field)"
                    (selectedOptionChange)="onFieldTypeChange($event, field)" />
                </div>
                <div class="w-1/12 flex justify-center">
                  <div
                    class="p-2 rounded-lg text-red-500 hover:text-red-700 hover:bg-red-100 transition cursor-pointer"
                    title="Odstrániť doménu"
                    (click)="removeField(field.id)">
                    <trash-outline-icon/>
                  </div>
                </div>
              </div>
            }
          </div>
          <div
            class="flex items-center justify-center p-2 rounded-lg bg-gray-200 hover:bg-gray-300 transition arn-input cursor-pointer mt-4"
            (click)="addNewField()">
            <plus-small-outline-icon/>
          </div>
        </div>
      </div>

      <div class="flex justify-between items-center mt-4">
        <app-arn-button
          [buttonText]="'Späť'"
          (buttonClick)="viewConferences()">
        </app-arn-button>

        <app-arn-button
          [buttonText]="'Aktualizovať konferenciu'"
          (buttonClick)="updateConference()">
        </app-arn-button>
      </div>
    </div>

  } @else if (ASSIGN) {

  <div class="w-full relative">
    <app-arn-grid-list
      [data]="submissions"
      [columns]="columns"
      [initialRefresh]="true"
      [sortable]="true"
      [initialSort]="'title'">
    </app-arn-grid-list>
  </div>

  } @else if (SUBMISSION) {

  }
</div>
