<app-arn-toast [showToast]="showAlert">
  <div class="toast-icon text-green-500 bg-green-100 rounded">
    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
         viewBox="0 0 20 20">
      <path
        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
    </svg>
    <span class="sr-only">Success</span>
  </div>
  <div class="ms-3 text-sm font-normal">{{ alertMessage }}</div>
</app-arn-toast>

<div class="mb-4">
  <app-tabs
    [tabs]="tabOptions"
    [activeTab]="selectedOption"
    (tabChanged)="selectedOption = $event"
  ></app-tabs>
</div>
<div class="w-full card-base p-4">
  @if (selectedOption === EDIT) {
    <div class="space-y-5">
      <h2 class="text-lg font-semibold">Upraviť Konferenciu</h2>
      <div class="grid grid-cols-2 gap-4">
        <div class="arn-input">
          <label for="conferenceName">Názov konferencie</label>
          <input
            type="text"
            id="conferenceName"
            placeholder="Názov konferencie"
            [(ngModel)]='item.conferenceName'
            class="w-full p-2 border border-gray-300 rounded"
          />
        </div>

        <div class="arn-input">
          <label for="faculty">Fakulta</label>
          <input
            type="text"
            id="faculty"
            placeholder="Fakulta"
            [(ngModel)]='item.faculty'
            class="w-full p-2 border border-gray-300 rounded">
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4">
        <div class="arn-input">
          <label for="reviewDeadline">Termín posudozvania (od)</label>
          <input
            type="datetime-local"
            id="reviewDeadline"
            [(ngModel)]='item.reviewDeadline'
            class="w-full p-2 border border-gray-300 rounded"
          />
        </div>

        <div class="arn-input">
          <label for="uploadDeadline">Dátum nahratia</label>
          <input
            type="datetime-local"
            id="uploadDeadline"
            [(ngModel)]='item.uploadDeadline'
            class="w-full p-2 border border-gray-300 rounded"
          />
        </div>
      </div>

      <div class="flex justify-between items-center mt-4">
        <app-arn-button
          [buttonText]="'Späť'"
          (buttonClick)="viewConferences()">
        </app-arn-button>

        <app-arn-button
          [buttonText]="'Aktualizovať konferenciu'"
          (buttonClick)="updateConference()">
        </app-arn-button>
      </div>
    </div>

  } @else if (ASSIGN) {

  <div class="w-full relative">
    <app-arn-grid-list
      [data]="submissions"
      [columns]="columns"
      [initialRefresh]="true"
      [sortable]="true"
      [searchObject]="conferenceSearchCriteria$ | async"
      [initialSort]="'conferenceName'"
      [searchMethod]="search">
    </app-arn-grid-list>
  </div>

  } @else if (SUBMISSION) {

  }
</div>
