<div #passwordChangedModal tabindex="-1" class="flex overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-lg">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <div class="p-8">
        <h3 class="text-5xl uppercase font-public-sans font-black opacity-20 text-black tracking-tighter mb-4">Heslo zmenené</h3>
        <p class="text-base text-lg font-normal leading-relaxed text-gray-700">
          Vaše heslo bolo úspešne zmenené. Čoskoro budete presmerovaný na prihlasovaciu stránku.
        </p>
        <p class="hover:underline-from-left cursor-pointer">
          Prejsť na
          <a class="text-expressive font-medium relative inline-block underline-animation"
             (click)="navigateToLogin()">
            Stránku prihlásenia
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
