<app-base-modal [modal]="modalInstance" [modalSettings]="modalSettings">
  <div class="p-4">
    <h3 class="text-5xl uppercase font-public-sans font-black opacity-20 text-black tracking-tighter mb-4">Heslo
      zmenené</h3>
    <p class="text-base text-lg font-normal leading-relaxed text-gray-700">
      Vaše heslo bolo úspešne zmenené. Čoskoro budete presmerovaný na prihlasovaciu stránku.
    </p>
    <p class="cursor-pointer">
      Prejsť na
      <a class="text-expressive font-medium relative inline-block underline-animation"
         (click)="navigateToLogin()">
        Stránku prihlásenia
      </a>
    </p>
  </div>
</app-base-modal>
