<div class="relative w-full">
  <div [ngClass]="{'hidden-placeholder': !showPlaceholder, 'element-transition': true}" class="absolute left-4 top-1/2 transform -translate-y-1/2 text-gray-400 z-10 pointer-events-none">
    {{ placeholder }}
  </div>
  <select class="input-base w-full appearance-none cursor-pointer"
          [name]="name"
          [(ngModel)]="selectedOption"
          (ngModelChange)="selectedOptionChange.emit($event)"
          (focusin)="showPlaceholder = false"
          (focusout)="showPlaceholder = !selectedOption"
          [required]="required"
          [disabled]="disabled">
    <option *ngFor="let option of options" [value]="option.value">{{ option.display }}</option>
  </select>
</div>
