<div class="card-base p-6">
  <form class="space-y-4" (ngSubmit)="onSubmit()" appFormValidation>
    <div class="arn-input">
      <label for="nadpis-zaverecnej-prace">Nadpis záverečnej práce</label>
      <input
        type="text"
        id="nadpis-zaverecnej-prace"
        name="title"
        placeholder="Vložte nadpis"
        [(ngModel)]="submissionForm.title"
        [value]="existingSubmission?.title"
      required />
    </div>

    <div class="arn-input">
      <label for="typ-zaverecnej-prace">Typ záverečnej práce</label>
      <app-arn-select
        id="typ-zaverecnej-prace"
        [(selectedOption)]="submissionForm.category"
        [options]="thesisTypes"
        [placeholder]="'Vyberte typ záverečnej práce'"
        [required]="true"
        [selectedOption]="existingSubmission?.category"
      />
    </div>

    <div class="arn-input">
      <label for="spolu-autori">Spoluautori (Dobrovoľné)</label>
      <app-arn-select
        id="spolu-autori"
        [placeholder]="'Vyberte spolu autorov'"
        [selectedOption]="existingSubmission?.authors || []"
      />
    </div>

    <div class="flex flex-col gap-4 sm:flex-row sm:gap-8 w-full">
      <div class="arn-input sm:w-1/2">
        <label for="abstrakt-anglicky">Abstrakt (Anglický)</label>
        <textarea
          id="abstrakt-anglicky"
          rows="9"
          name="abstractEn"
          [(ngModel)]="submissionForm.abstractEn"
          placeholder="Vyplňte abstrakt v Anglickom jazyku"
          [value]="existingSubmission?.abstractEn"
        required>
        </textarea>
      </div>

      <div class="arn-input sm:w-1/2">
        <label for="abstrakt-slovensky">Abstrakt (Slovenský)</label>
        <textarea
          id="abstrakt-slovensky"
          rows="9"
          name="abstractSk"
          [(ngModel)]="submissionForm.abstractSk"
          placeholder="Vyplňte abstrakt v Slovenskom jazyku"
          [value]="existingSubmission?.abstractSk"
        required>
        </textarea>
      </div>
    </div>

    <div class="flex flex-col gap-4 w-full">
      <div class="flex-grow w-full h-36">
        <app-arn-fileinput
          [(fileSelected)]="uploadedFiles"
          [invalid]="invalidFileAmount"
          [acceptedFormats]="'.doc,.docx,.pdf'"
          [placeholder]="'Nahrajte prácu 2-krát (Jednu v PDF a druhú v DOCX formáte)'"
          [multiple]="true"
          [required]="true"
          [fileLimit]="2" />
      </div>
    </div>

    <div class="flex w-full mt-4">
      <app-arn-button type="submit" [buttonText]="'Odovzdať Prácu'" [classes]="'h-full'" />
    </div>
  </form>
</div>
