<app-base-modal [modal]="modalInstance" [modalSettings]="modalSettings" [modalMaxWidthClass]="'max-w-xl'">
  <app-arn-loader [isVisible]="isFetching"></app-arn-loader>
  <div class="w-full rounded-sm">
    <h2 class="text-lg font-semibold mb-4">Upraviť profil používateľa </h2>
    <form appFormValidation (ngSubmit)="updateUserProfile()" (getValidationErrors)="formValidationErrors = $event">
      <div class="grid grid-cols-2 gap-4 mb-4">
        <div class="arn-input">
          <label for="meno" class="block text-sm font-medium mb-1">Meno</label>
          <input id="meno"
                 type="text"
                 name="meno"
                 placeholder="Meno"
                 [(ngModel)]="userDetails.name"
                 class="w-full p-2 border border-gray-300 rounded" required/>
        </div>

        <div class="arn-input">
          <label for="priezvisko" class="block text-sm font-medium mb-1">Priezvisko</label>
          <input id="priezvisko"
                 type="text"
                  name="priezvisko"
                 placeholder="Priezvisko"
                 [(ngModel)]="userDetails.surname"
                 class="w-full p-2 border border-gray-300 rounded" required/>
        </div>
      </div>

      <div class="arn-input" *ngIf="isAdminEdit">
        <label for="login" class="block text-sm font-medium mb-1">Prihlasovacie Údaje</label>
        <div class="flex space-x-4">
          <input id="login"
                 type="text"
                 name="login"
                 placeholder="Prihlasovacie meno"
                 [(ngModel)]="userDetails.email"
                 class="w-full p-2 border border-gray-300 rounded" required/>
        </div>
      </div>

      <div class="w-full mb-4" *ngIf="!isAdminEdit">
        <label for="university" class="block text-sm font-medium mb-1">Univerzita</label>
        <app-arn-select
          id="university"
          [name]="'university'"
          [options]="universitiesSelectOptions"
          [placeholder]="'Univerzita'"
          [required]="true"
          [(selectedOption)]="userDetails.universityId"></app-arn-select>
      </div>

      <div class="flex space-x-6" *ngIf="!isAdminEdit">
        <div class="arn-input justify-items-center">
          <label for="student">Študent</label>
          <input type="checkbox"
                 id="student"
                 class="checkbox-custom"
                 [checked]="userDetails.roles.includes(UserRoles.STUDENT)"
                 (change)="onRoleChange($event, UserRoles.STUDENT)">
        </div>

        <div class="arn-input justify-items-center">
          <label for="reviewer">Recenzent</label>
          <input type="checkbox"
                 id="reviewer"
                 class="checkbox-custom"
                 [checked]="userDetails.roles.includes(UserRoles.REVIEWER)"
                 (change)="onRoleChange($event, UserRoles.REVIEWER)">
        </div>
      </div>

      <div class="flex justify-between items-center mt-4">
        <app-arn-button
          [buttonText]="'Zrušiť'"
          [type]="'button'"
          (buttonClick)="closeModal()"
          [customColor]="'#da3c3c'"
          [classes]="'bg-gray-200 text-gray-700 hover:bg-gray-300'">
        </app-arn-button>

        <app-arn-button
          [buttonText]="'Aktualizovať údaje'"
          [type]="'submit'"
          [classes]="'bg-gray-800 text-white hover:bg-gray-700'">
        </app-arn-button>
      </div>
    </form>

    <div>

    </div>


  </div>
</app-base-modal>
