<div class="toast-container">
  <div id="toast-verification" class="toast" role="alert">
    @if (verificationStatus) {
      <div class="toast-icon text-green-500 bg-green-100">
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
             viewBox="0 0 20 20">
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
        </svg>
        <span class="sr-only">Success</span>
      </div>
    } @else {
      <div class="toast-icon text-red-500 bg-red-100">
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
             viewBox="0 0 20 20">
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 11.793a1 1 0 1 1-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 0 1-1.414-1.414L8.586 10 6.293 7.707a1 1 0 0 1 1.414-1.414L10 8.586l2.293-2.293a1 1 0 0 1 1.414 1.414L11.414 10l2.293 2.293Z"/>
        </svg>
        <span class="sr-only">Error</span>
      </div>
    }
    <div class="ms-3 text-sm font-normal">{{ verificationMessage }}</div>
    <button type="button" class="toast-close-button" data-dismiss-target="#toast-verification" aria-label="Close">
      <span class="sr-only">Close</span>
      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
      </svg>
    </button>
  </div>
</div>

<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
  <div
    class="w-full bg-white rounded-2xl shadow md:mt-0 sm:max-w-md xl:p-0">
    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
      <h1 class="text-2xl font-bold leading-tight tracking-tight text-primary md:text-2xl">
        Prihláste sa do svojho účtu
      </h1>
      <form appFormValidation (ngSubmit)="onSubmit()" (getValidationErrors)="formValidationErrors = $event"
            class="space-y-6">
        <div>
          <input type="email" name="email" id="email"
                 class="input-base"
                 placeholder="E-mail"
                 [(ngModel)]="loginInfo.email" required>
        </div>
        <div>
          <input type="password" name="password" id="password"
                 placeholder="Heslo"
                 class="input-base"
                 [(ngModel)]="loginInfo.password" required>
        </div>
        <div class="flex items-center h-0.5">
          <p *ngIf="errorMessage" class="text-red-500 text-sm">{{ errorMessage }}</p>
        </div>
        <div class="flex items-center justify-between">
          <div class="flex items-start">
            <div class="flex items-center h-5">
              <input id="remember" name="remeberMe" aria-describedby="remember" type="checkbox" class="checkbox-custom"
                     [(ngModel)]="rememberMe">
            </div>
            <div class="ml-3 text-sm">
              <label for="remember" class="text-gray-500">Zapamätať si ma</label>
            </div>
          </div>
          <a class="text-sm font-medium text-gray-600 underline-animation cursor-pointer"
             [routerLink]="['/forgot-password']">Zabudnuté heslo?</a>
        </div>
        <div>
          <app-arn-button [buttonText]="'Prihlásiť sa'"
                          [classes]="'w-full'"
                          type="submit"></app-arn-button>
        </div>
        <p class="text-small">
          Nemáte ešte účet? <a class="font-medium underline-animation cursor-pointer"
                               [routerLink]="['/registration']">Vytvoriť účet</a>
        </p>
      </form>
    </div>
  </div>
</div>
