@import 'fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes checkmarkAnimation {
  0% {
    background-size: 0;
    opacity: 0;
  }
  100% {
    background-size: 0.55em 0.55em;
    opacity: 1;
  }
}

@layer utilities {
  .element-transition {
  @apply transition duration-200 ease-in-out transform;
  }

  .underline-animation {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      bottom: 0;
      width: 0;
      height: 1px;
      background-color: currentColor;
      transition: width 0.2s ease;
    }

    &:hover:after {
      width: 100%;
    }
  }
}

.toast-container {
@apply fixed top-4 left-1/2 transform -translate-x-1/2 z-50 flex flex-col space-y-4;
}

.toast-icon {
@apply inline-flex items-center justify-center flex-shrink-0 w-8 h-8 rounded-lg;
}

.card-base {
  @apply w-full bg-white rounded-2xl shadow-md;
}

/* Inputs and Labels */
.arn-input {
  label {
    @apply block text-sm font-medium text-gray-700 mb-1;
  }
  input, textarea {
    @apply input-base;
  }
}

.input-base {
@apply border border-gray-400 text-gray-900 focus:ring-0 focus:border-expressive block w-full p-2 px-3 rounded-lg;
@apply element-transition;

  &.invalid {
  @apply border-red-500;
  }

  &:focus::placeholder {
  @apply text-transparent element-transition;
  }

  &::placeholder {
  @apply text-gray-400 element-transition;
  }
}

/* Checkboxes */
.checkbox-custom {
@apply w-4 h-4 border-gray-300 rounded-full focus:ring-transparent cursor-pointer;

  &:checked {
  @apply bg-primary border-primary;
    animation: checkmarkAnimation 0.3s ease-out;
  }
}
