<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
  <div
    class="card-base md:mt-0 max-w-2xl xl:p-0">
    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
      <h1 class="text-l font-bold leading-tight tracking-tight text-primary md:text-xl">
        Zadajte svoj e-mail, na ktorý vám pošleme formulár na obnovu hesla.
      </h1>
      <div>
        <input type="email" name="email" id="email"
               class="input-base"
               placeholder="zabudnute@heslo.sk"
               [(ngModel)]="email">
      </div>
      <div class="flex flex-col md:flex-row space-y-3 md:space-y-0 md:space-x-5">
        <div class="w-full md:w-1/3">
          <app-arn-button
            [buttonText]="'Odoslať'"
            [classes]="'w-full'"
            [disabled]="countdown > 0"
            (buttonClick)="sendEmail()">
          </app-arn-button>
        </div>
        <div class="w-full md:w-2/3 flex items-center">
          <div *ngIf="countdown > 0" class="text-gray-700 text-right md:text-left">
            Ďalší e-mail môžete odoslať o {{ countdown }} sekúnd.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

